* {
    box-sizing: border-box;
}

:root {
    --color-primary: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Fz Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    background: var(--color-primary);
    border-radius: 12px;
    padding: 18px 16px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============ Header ============= */
.fixed-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    padding: 8px 14px;
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
    font-size: 1.4rem;
}

.navbar .action-link {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-primary);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    /* width của info: 559px / 1110px của khung ra kq = ...px * 100 = 50,03%  làm chẵn là 51%  */
    max-width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.1875;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
    font-size: 1.3rem;
}

/* nhớ học thêm cách tính toán */
.hero .hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ======= Clients ======= */
.clients {
    margin-top: 79px;
    padding: 43px 0 23px;
}

.clients .row {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .images {
    width: 1090px;
    max-width: calc(100% - 48px);
    margin-top: 96px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ======= Guides ======= */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.list-guides .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.list-guides .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}

.list-guides .arrow {
    margin-left: 6px;
}

.guides-cta {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.guides-cta .btn {
    min-width: 170px;
}

/* ======= Featured ======= */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    margin-top: 68px;
    display: flex;
    gap: 30px;
}

.featured .item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.featured .item .body {
    padding: 17px 20px 22px;
}

.featured .item .title a {
    --line-clamp: 2;
    font-weight: 600;
    font-size: 2rem;
    color: #000339;
    line-height: 1.5;
}

.featured .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #a3a6ab;
}

.featured .info {
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.featured .info .icon {
    margin-left: 23px;
}

.featured .info .icon:first-child {
    margin-left: 0;
}

.featured .info .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
}

/* ======= Stats ======= */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 51%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.3;
    color: #000339;
}

.stats .info .sub-title::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    background: #fff;
    border-radius: 0 0 12px 12px;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .separate {
    margin-top: 26px;
    border-top: 1.2px solid #e9e9e9;
    /* height: 1.2px;
    background: #e9e9e9; */
}

.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
    font-weight: 450;
    font-size: 0.72rem;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    background: var(--bg-color, #fff);
    color: #fff;
}

.stats .avatar:first-child {
    margin-left: 0;
}

.stats .content-2 {
    margin-top: 110px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
}

.stats .quality {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stats .quality-block .desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
}

/* ========== Subscription ===========*/
.subscription {
    margin-top: 90px;
}

.subscription .body {
    height: 370px;
    position: relative;
    display: flex;
    align-items: center;
    background: #063183;
    border-radius: 20px;
}

.subscription .info {
    padding: 0 89px 0 80px;
}

.subscription .sub-title {
    width: 671px;
    max-width: 100%;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

.subscription .desc {
    width: 407px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #fff;
}

.subscription .btn {
    min-width: 151px;
    margin-top: 20px;
    color: #002366;
    background-color: #fff;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* =============== Footer ================ */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a {
    font-weight: 400;
    font-size: 1.6rem;
    white-space: nowrap;
    color: #7a7a7e;
}

.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7a7a7e;
}

.footer .social {
    margin-top: 40px;
}

.footer-icon {
    margin-top: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icon .desc {
    margin-top: 0;
    font-size: 1.4rem;
    color: #c2c2c2;
}
